@font-face {
    font-family: 'Arimo';
    src:url("fonts/arimo/arimobold.ttf");
}
table,tr,th,td{
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: darkgoldenrod;
}
table{
    border: 25px solid  #3a4965;
    border-collapse: collapse;
    margin: 50px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arimo',Courier,sans-serif;
    box-sizing: border-box;
}

th,td{
    border-bottom:1px solid rgba(128,128,128,0.2);
    color: #484848;
    line-height: 25px;
}
.firstColor{
    background-color: #fafafa;
}
/*.secondColor{*/
    /*background-color: #f2f2f2;*/
/*}*/
.choice{
    text-align: center;
    vertical-align: middle;
}
.choose{
    font-size: 14px;
    color: #484848;
    text-transform: uppercase;
}
.plan{
    font-size: 20px;
    color: #484848;
    text-transform: uppercase;
}
.tariff{
    width: 200px;
    height: 170px;
    position: relative;
}
.name{
    position: absolute;
    top: 18px;
    font-size: 24px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
}


.dollar{
    position: absolute;
    top: 56px;
    left: 20px;
    font-size: 36px;
    color: #fff;
}
.change{
    font-size: 18px;
    position: absolute;
    top: 62px;
    left: 80px;
    color: #fff;
}
.limitation{
    font-size: 13px;
    position: absolute;
    top: 75px;
    left: 108px;
    color: #fff;
}
.button{
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 144px;
    height: 41px;
    border-radius: 4px;
    border-bottom: 6px solid;
    border-color: rgba(0,0,0,0.1);
    margin: 0 auto;
    box-sizing: border-box;
    background-color:#484848;
}
.button>a{
    display: block;
    line-height: 41px;
    color: #fff;
    text-decoration: none;
}

.services{
    margin: 0 auto;
    font-size: 24px;
    height: 112px;
    width: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services span{
    font-family: 'Arimo',Courier,sans-serif;
    margin-top: 5px;
    display: block;
    color: #484848;

}
i.fa{
    color: #848484;
}
tr td:first-child{
     line-height: normal;
 }
tr td:nth-child(2n), tr th:nth-child(2n){
    background-color: #f2f2f2;
}
tr td:nth-child(2n-1), tr th:nth-child(2n-1){
    background-color: #fafafa;
}
.standard{
    background-color: #89c331;
}
.ultimate{
    background-color: #f04a56;
}
.premium{
    background-color: #20807c;
}



