@font-face {
    font-family: 'Arimo';
    src:url("fonts/arimo/arimobold.ttf");
}
table,tr,th,td{
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: darkgoldenrod;

}
table{
    border: 25px solid  #3a4965;
    border-collapse: collapse;
    margin: 50px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arimo',Courier,sans-serif;
    width: 1192px;
    box-sizing: border-box;
}
div{
    text-align: center;
    vertical-align: middle;
}
tr,th,td{
    border-left:1px solid rgba(128,128,128,0.2);
}
.firstColor{
    background-color: #fafafa;
}
.secondColor{
    background-color: #f2f2f2;
}
.thirdColor{
    background-color: #e3e3e3;
}
.mainCell{
    width: 310px;
    height: 156px;
}
.choice{
    text-align: center;
    vertical-align: middle;
}
.choose{
    font-size: 18px;
    color: #484848;
    text-transform: uppercase;
}
.plan{
    font-size: 30px;
    color: #484848;
    text-transform: uppercase;
}
.tariff{
    width: 277px;
    height: 70px;
    font-size: 24px;
    color: #fff;
}
.standard{
    background-color: #89c331;
}
.ultimate{
    background-color: #f04a56;
}
.premium{
    background-color: #20807c;
}
.price{
    line-height: 86px;
    position: relative;
}
.dollar{
    position: absolute;
    top: 0;
    left: 33px;
    font-size: 60px;
    color: #484848;
}
.change{
    font-size: 24px;
    position: absolute;
    top: -11px;
    left: 133px;
    color: #484848;
}
.limitation{
    font-size: 18px;
    position: absolute;
    top: 12px;
    left: 133px;
    color: #484848;
}
.rowHeight{
    height: 69px;
    color: #484848;
    font-size: 16px;
}
.services{
    line-height: 69px;
    display: table;
    margin: 0 auto;
}
i.fa{
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}
.bottomRow{
    height: 110px;
}
.button{
    width: 192px;
    height: 49px;
    border-radius: 4px;
    border-bottom: 6px solid;
    border-color: rgba(0,0,0,0.1);
    margin: 0 auto;
    box-sizing: border-box;
}
.button>a{
    display: block;
    line-height: 49px;
    color: #fff;
    text-decoration: none;
}
.contactUs{
    background-color:#484848;
}
.bottomCell1{
    background-color: lightgrey;
}
.bottomCell2{
    background-color: #eeeeee;
}





